.table {
    height: 40px !important; 
    width: 179px !important;
    left: 1140px !important;
    top: 106px !important;
    border-radius: 30px !important; 
    padding: 8px 25px 8px 25px !important;
    background: #FFFFFF;
  
}