.signin-box {
    background: #FFFFFF;
    border-radius: 9px;
    max-width: 520px;
    padding: 65px 70px 50px 70px;
}
.signin-box .logo-block {
    text-align: center;
}
.LoginError {
    color: red;
    height: 40px;
}
.LoginLoader{
    height: 40px;
}
