.eError,
.sMessage {
    font-size: 16px;
    line-height: 20px;
}
.eError{
    color: red;
}
.sMessage{
    color: green;
}
.varification-page-wrapper form {
    padding-top: 10px;
}
.varification-page-wrapper .codeResend, 
.varification-page-wrapper .resend{
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 12px;
    color: #000;
}
.varification-page-wrapper .resend {
    padding-top: 10px;
}
.varification-page-wrapper input {
    margin-bottom: 0;
}